/* styles.css */

.backgroundinsert {
  display: flex;
  flex: 1;
  background-color: #cce3de;
  overflow: hidden;
  height: 100vh;
}

.text-header {
  font-size: 30px;
  color: #1b4242;
  font-weight: bold;
}

.text-inbox {
  font-size: 18px;
}

.textinsert {
  font-size: 20px;
}

.textimport {
  font-size: 25px;
}

.bigbox {
  display: flex;
  flex: 1;
  flex-direction: row;
}

.box-1,
.box-2,
.box-3 {
  display: flex;
  flex: 1;
}

.box-3 {
  width: 60%;
  height: 50%;
  align-items: first baseline;
  margin-top: 15%;
}

.border-display {
  display: flex;
  height: 60%;
  width: 5px;
  margin-top: 20vh;
  border-radius: 999px;
}

.box2-flex {
  flex: 1;
  margin-top: 10vh;
}

@media screen and (max-width: 768px) {
  .bigbox {
    flex-direction: column;
  }

  .box-3 {
    width: 100%;
  }
}
