.background {
  display: flex;
  flex: auto;
  background-color: #cce3de;
  overflow-x: scroll;
  height: 100vh;
}

.box {
  display: flex;
  flex: 5;
  flex-direction: column;
  background-color: white;
}

.box-gray {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: #f2efef;
  border-radius: 0.5rem;
}

.box-gray-row {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-color: #f2efef;
  border-radius: 0.5rem;
}

.lightgreen,
.text-lightgreen {
  color: #6fa01d;
}

.bg-lightgreen {
  background-color: #6fa01d;
}
