.bgimsyl {
  background-color: #cce3de;
}

.boxbig {
  display: flex;
  flex: 1;
  flex-direction: column;
  /* border-width: 4px;
  border-style: solid;
  border-color: red; */
}



.boxyear_course {
  display: flex;
  flex: 1;
  position: relative;
  /* border-width: 4px;
  border-style: solid;
  border-color: green; */
  align-items: center;
}

.boximport {
  display: flex;
  flex: 1;
  position: relative;
  /* border-width: 4px;
  border-style: solid;
  border-color: hwb(60 0% 0%); */
  align-items: center;
}

.boximtoarrow {
  display: flex;
  flex: 1;
  flex-direction: row;
  position: relative;
  /* border-width: 4px;
  border-style: solid;
  border-color: darkred; */
}

.boxbutton {
  display: flex;
  flex: 1;
  position: relative;
  /* border-width: 4px;
  border-style: solid;
  border-color: chocolate; */
}


.boxtable2 {
  display: flex;
  flex: 4;
  position: relative;
  /* border-width: 4px;
  border-style: solid;
  border-color: blueviolet; */
}

.boxsuggestion {
  display: flex;
  flex: 6;
  position: relative;
  /* border-width: 4px;
  border-style: solid;
  border-color: chartreuse; */
}
.boxarrow {
  display: flex;
  flex: 1;
  position: relative;
  /* border-width: 4px;
  border-style: solid;
  border-color: deeppink; */
}
